@import url('../css/common.css');
@import url('../fonts/icomoon/icomoon.min.css');

* {
  font-family: 'Roboto', sans-serif;
}

html {
  overflow: hidden;
}

body {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-top: 53px;
  color: #a5a6a8;
  background-color: #4fc598;
  overflow: hidden;
}

header .progress {
  height: 4px;
  background-color: #202a3b;
  border-radius: 0;
}

header .progress-bar {
  background-color: #1286d7;
}

header .navbar {
  color: #a89f9f;
  font-size: 12px;
  font-weight: bold;
}

header .navbar i {
  font-size: 15px;
}

header .navbar i:first-child {
  color: #6fb7fa;
}

header .navbar .name {
  font-size: 14px;
}

.premium-nick {
  -webkit-animation: premium-nick 1s ease-in-out infinite alternate;
  -moz-animation: premium-nick 1s ease-in-out infinite alternate;
  animation: premium-nick 1s ease-in-out infinite alternate;
}

@keyframes premium-nick {
  from {
    text-shadow: 0 0 2px #4d1c75, 0 0 2px #4d1c75, 0 0 2px#4d1c75,
      0 0 2px #4d1c75, 0 0 2px#4d1c75, 0 0 2px #4d1c75;
  }
  to {
    text-shadow: 0 0 2px #232a8f, 0 0 2px #232a8f, 0 0 2px #232a8f,
      0 0 2px #232a8f, 0 0 2px #232a8f, 0 0 2px #232a8f;
  }
}

header .navbar .user-bar {
  width: 80px;
  height: 23px;
  background-color: #191c20;
  border-radius: 5px;
}

header .navbar .user-bar .progress-bar {
  background-color: transparent;
  color: #a89f9f;
}

.grayscale {
  filter: grayscale(100%);
}

@media screen and (max-width: 576px) {
  header .navbar .progress {
    width: 74px;
  }
  header .navbar .w-65px {
    width: 65px;
  }
}

.add-cash {
  background-image: url('../images/icons/add_cash.png');
  background-size: contain;
  width: 23px;
  height: 23px;
  cursor: pointer;
}

.main-home {
  background-image: url('../images/background/home_order_v2.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 1312px;
  height: 800px;
  margin: 0 auto;
}

main {
  height: calc(100vh - 54px);
  overflow-y: auto;
}

.draggable {
  touch-action: none;
  cursor: default !important;
  transform: translate(0px, 0px);
}

.tooltip {
  opacity: 1 !important;
}

.tooltip-arrow:before {
  border-bottom-color: #30353a !important;
}

.tooltip-inner {
  background-color: #30353a;
  border-bottom: 3px solid #4d98d6;
  border-radius: 5px;
  padding: 8px 16px;
  font-size: 13px;
}
